

.assign-4-shape-1 {
    width: 400px;
    height: 400px;
    background-color: rgb(172, 167, 160);
     background-image: url(../taklifat/css-assignment-5-8.png);
     background-repeat: no-repeat ;
     background-size: 80% 80%;
 }
 
 .assign-4-shape-2 {
     width: 400px;
     height: 400px;
     background-color: rgb(172, 167, 160);
     background-image: url(../taklifat/css-assignment-5-8.png);
     background-repeat: repeat-y;
     background-position: top right;
     background-size: 80% auto;
 }
 
 .assign-4-shape-3 {
     width: 400px;
     height: 400px;
     background-color: rgb(172, 167, 160);
     background-image: url(../taklifat/css-assignment-5-8.png);
     background-repeat: repeat-x;
     background-position: bottom;
     background-size: 80% auto;
 }
 
 .assign-4-shape-4 {
     width: 400px;
     height: 400px;
     background-color: rgb(172, 167, 160);
     background-image: url(../taklifat/css-assignment-5-8.png);
     background-repeat: no-repeat;
     background-size: 50% 50%;
     background-position: bottom right;
 }